body {
    font-family: 微软雅黑;
    font-size: 13px;
    line-height: 22px;
    height: 22px;
    background-color: #f1fafa;
	/* background:url(../images/bg.jpg) no-repeat;
    background-size: cover; */
    color: #333;
    padding-top: 10px;
    padding-bottom: 40px;
    letter-spacing: .6px;
}
.navbar-default{
	background-image: linear-gradient(to bottom,#ccc 0,#f8f8f8 100%);
}
.navbar-default .navbar-brand:hover,.navbar-default ul li:hover{background:#f90;color:#f1fafa}
.navbar-default .navbar-brand:active,.navbar-default ul li:active{background:#f90;color:#f1fafa}
.block{
	display:block;
}

.data_list {
    border: 1px solid #E5E5E5;
    padding: 10px;
    background-color: #FDFDFD;
	/* background:rgba(255,255,255,.5) none repeat scroll 0 0 !important; */
    margin-top: 0px;
    margin-bottom: 10px;
}

.data_list .data_list_title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
    padding-top: 5px;
}

.data_list .data_list_title img {
    margin-top: 1px;
    vertical-align: top;
}

.data_list .user_image {
    text-align: center;
}

.data_list .user_image img {
    padding-top: 10px;
    width: 150px;
    height: 150px;
}

.data_list .nickName , .data_list .userSign {
    text-align: center;
}

.data_list .diary_datas ul {
    list-style-type: none;
}

.data_list .diary_datas ul li {
    margin-top: 5px;
}

.data_list .datas {
    padding: 5px;
}

.data_list .datas ul {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
}

.data_list .datas ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.data_list .data_list_title .datas {
    padding: 5px;
}

.datas .date ,.datas .title {
    display: block;
    line-height: 1.5;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding-bottom: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.datas .date a {
    color: #935A32;
    font-weight: bold;
    outline: none;
}

.datas .title a {
    color: #337ab7;
    outline: none;
    font: normal 18px/20px 'Microsoft YaHei';
}

.datas .title a:visited {
    text-decoration: none;
}

.datas .title a:hover {
    outline: none;
}

.datas .summary {
    font-size: 13px;
    color: #333;
}

.datas .img {
    display: block;
    clear: both;
}

.datas img {
    padding: 4px;
    max-height: 150px;
    max-width: 200px;
    clear: both;
}

.datas .info {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 18px;
    float: right;
    font-size: 12px;
}

.data_list .blog_title {
    margin-top: 20px;
    text-align: center;
    font-size:21px;
    margin-bottom:10px;
}

.data_list .blog_info {
    text-align: center;
    padding-top:10px;
    margin-bottom:3px;
}

.data_list .blog_content {
    margin-top: 20px;
    padding-bottom: 30px;
}

.data_list .blog_keyWord {
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.data_list .blog_keyWord a {
    color: black;
    font-style: italic;
}

.data_list .blog_lastAndNextPage {
    border-top: 1px dotted black;
    padding: 10px;
}

.data_list .commentDatas {
    padding: 10px;
}

.data_list .commentDatas .comment {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 1px dotted gray;
}

.data_list .commentDatas .comment font {
    font-weight: bold;
}

.data_list .verCode {
    padding-top: 10px;
    float: left;
}

.data_list .publish_comment {
    padding-top: 10px;
    padding-bottom: 50px;
}

.data_list .publish_comment .publishButton {
    padding-top: 10px;
    float: right;
}

.data_list .commentDatas .otherComment {
    display: none;
}

.data_list .search {
    padding: 5px;
}

.search .title a {
    color: #256EB1;
    font-weight: normal;
    text-decoration: underline;
}

.search .summary {
    display: block;
    line-height: 20px;
    padding-top: 0px;
    font-size: 13px;
}

.search .link a {
    color: #008400
}

.sepline {
    height: 0px;
    border-top: 1px dashed #ccc;
    margin: 0;
}

/*right*/
.calen{
	margin:0 auto;
	margin-bottom:10px;
	border:solid 1px #E5E5E5
}

.rank {
    overflow: hidden;
    white-space: nowrap
}

.number {
    display: block;
    float: left;
    background: #fe5187;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    margin-right: 5px;
    text-align: center;
    cursor: pointer
}

.bgcolor1 {
    background: #990
}

.bgcolor2 {
    background: #f60
}

.bgcolor3 {
    background: #3299bb
}

.bgcolor4 {
    background: #ff8151
}

.bgcolor5 {
    background: #036564
}

.bgcolor6 {
    background: #3299bb
}

.txt {
    boder: solid 1px #666;
    padding: 4px;
}

.banner {
    background: url(../images/banner.jpeg);
    background-size: cover;
    margin: 0 auto;
    border-radius: 5px;
}

/*list*/
.img {
    max-width: 150px;
    max-height: 160px;
    padding: 2px;
    border: #f4f2f2 1px solid;
    float: left;
    margin-right: 5px;
}

.type {
    padding-left: 20px;
    margin-right: 10px;
    background: url(../images/class.png) no-repeat left center;
}

.time {
    padding-left: 20px;
    margin-right: 10px;
    background: url(../images/time.png) no-repeat left center
}

.reading {
    padding-left: 20px;
    margin-right: 10px;
    background: url(../images/view.png) no-repeat left center
}

.review {
    padding-left: 20px;
    background: url(../images/review.png) no-repeat left center
}

.readfull a {
    float: right;
    color: #fff;
    display: block;
    background: #f90;
    padding: 1px 6px;
    border: solid 1px rgb(171,173,179);
    border-radius: 4px;
}

.readfull a:hover,.readfull a:active {
    text-decoration: none;
    outline: none;
    box-shadow: 1px 1px 4px #333;
    color: #fff;
}

#showOtherComment,#showCommentForm{
	display:block;
	border:solid 1px #e7e7e7;
	border-radius:5px;
	background: #0099CB;
	color:#fff;
	line-height:35px;
	height:35px;
	text-align:center;
	width:100%;
	font-weight:normal;
	margin-bottom:20px;
}

.return_top {
    position: fixed;
    right: 40px;
    bottom: 60px;
    display:none;
}

.return_top a{
	display:block;
	width: 46px;
	height: 46px;
	background: url(../images/top.png) no-repeat;
	background-position: 100% 100%;
	opacity:0.6;
}

.return_top a:hover{
	opacity:1;
}